In [17]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [18]:
from sqlalchemy import create_engine
from hold import connection_string

In [19]:
engine = create_engine(f'{connection_string}', encoding='iso-8859-1', connect_args={'connect_timeout': 10})

In [20]:
gtdDF = pd.read_sql_table('global_terrorism', con= engine)

In [21]:
gtdDF.head()

,iyear,imonth,iday,date,country_txt,region_txt,provstate,city,latitude,longitude,...,claimmode_txt,weaptype1_txt,weapsubtype1_txt,weaptype2_txt,weapsubtype2_txt,kidhijcountry,ransom,nkill,nwound,index1
0,2000,1,1,2000-01-01,Namibia,Sub-Saharan Africa,Kavango,Muitjiku,-17.91,19.99,...,None,Firearms,Unknown Gun Type,None,None,None,NaN,0.0,7.0,1.0
1,2000,1,1,2000-01-01,Namibia,Sub-Saharan Africa,Kavango,Muitjiku,-17.91,19.99,...,None,Firearms,Unknown Gun Type,None,None,None,0.0,0.0,7.0,2.0
2,2000,1,1,2000-01-01,India,South Asia,Jammu and Kashmir,Udhampur,32.93,75.14,...,None,Firearms,Unknown Gun Type,None,None,None,NaN,1.0,2.0,3.0
3,2000,1,1,2000-01-01,Kosovo,Eastern Europe,Kosovo (Province),Peje,42.66,20.31,...,None,Explosives/Bombs/Dynamite,Unknown Explosive Type,None,None,None,NaN,0.0,1.0,4.0
4,2000,1,1,2000-01-01,Somalia,Sub-Saharan Africa,Banaadir,Mogadishu,2.11,45.39,...,None,Firearms,Unknown Gun Type,None,None,None,NaN,6.0,10.0,5.0

In [22]:
casualties = gtdDF['nkill'] + gtdDF['nwound']
casualties.sum()

554384.0

In [23]:
gtdDF['casualties'] = gtdDF['nkill'] + gtdDF['nwound']
gtdDF.head()

,iyear,imonth,iday,date,country_txt,region_txt,provstate,city,latitude,longitude,...,weaptype1_txt,weapsubtype1_txt,weaptype2_txt,weapsubtype2_txt,kidhijcountry,ransom,nkill,nwound,index1,casualties
0,2000,1,1,2000-01-01,Namibia,Sub-Saharan Africa,Kavango,Muitjiku,-17.91,19.99,...,Firearms,Unknown Gun Type,None,None,None,NaN,0.0,7.0,1.0,7.0
1,2000,1,1,2000-01-01,Namibia,Sub-Saharan Africa,Kavango,Muitjiku,-17.91,19.99,...,Firearms,Unknown Gun Type,None,None,None,0.0,0.0,7.0,2.0,7.0
2,2000,1,1,2000-01-01,India,South Asia,Jammu and Kashmir,Udhampur,32.93,75.14,...,Firearms,Unknown Gun Type,None,None,None,NaN,1.0,2.0,3.0,3.0
3,2000,1,1,2000-01-01,Kosovo,Eastern Europe,Kosovo (Province),Peje,42.66,20.31,...,Explosives/Bombs/Dynamite,Unknown Explosive Type,None,None,None,NaN,0.0,1.0,4.0,1.0
4,2000,1,1,2000-01-01,Somalia,Sub-Saharan Africa,Banaadir,Mogadishu,2.11,45.39,...,Firearms,Unknown Gun Type,None,None,None,NaN,6.0,10.0,5.0,16.0

In [24]:
RegionCasualtiesDF = gtdDF[['index1','success','suicide','nkill','nwound','iyear','region_txt','casualties']]
RegionCasualtiesDF.head()

,index1,success,suicide,nkill,nwound,iyear,region_txt,casualties
0,1.0,1,0,0.0,7.0,2000,Sub-Saharan Africa,7.0
1,2.0,1,0,0.0,7.0,2000,Sub-Saharan Africa,7.0
2,3.0,1,0,1.0,2.0,2000,South Asia,3.0
3,4.0,1,0,0.0,1.0,2000,Eastern Europe,1.0
4,5.0,1,0,6.0,10.0,2000,Sub-Saharan Africa,16.0

In [25]:
RegionCasualties2DF = pd.get_dummies(RegionCasualtiesDF)
RegionCasualties2DF.head()

,index1,success,suicide,nkill,nwound,iyear,casualties,region_txt_Australasia & Oceania,region_txt_Central America & Caribbean,region_txt_Central Asia,region_txt_East Asia,region_txt_Eastern Europe,region_txt_Middle East & North Africa,region_txt_North America,region_txt_South America,region_txt_South Asia,region_txt_Southeast Asia,region_txt_Sub-Saharan Africa,region_txt_Western Europe
0,1.0,1,0,0.0,7.0,2000,7.0,0,0,0,0,0,0,0,0,0,0,1,0
1,2.0,1,0,0.0,7.0,2000,7.0,0,0,0,0,0,0,0,0,0,0,1,0
2,3.0,1,0,1.0,2.0,2000,3.0,0,0,0,0,0,0,0,0,1,0,0,0
3,4.0,1,0,0.0,1.0,2000,1.0,0,0,0,0,1,0,0,0,0,0,0,0
4,5.0,1,0,6.0,10.0,2000,16.0,0,0,0,0,0,0,0,0,0,0,1,0

In [26]:
RegionCasualtiesMergeDF = result = pd.merge(RegionCasualties2DF,RegionCasualtiesDF[['index1','region_txt']],on='index1')
#RegionCasualtiesMergeDF
RegionCasualtiesMergeDF.head()

,index1,success,suicide,nkill,nwound,iyear,casualties,region_txt_Australasia & Oceania,region_txt_Central America & Caribbean,region_txt_Central Asia,region_txt_East Asia,region_txt_Eastern Europe,region_txt_Middle East & North Africa,region_txt_North America,region_txt_South America,region_txt_South Asia,region_txt_Southeast Asia,region_txt_Sub-Saharan Africa,region_txt_Western Europe,region_txt
0,1.0,1,0,0.0,7.0,2000,7.0,0,0,0,0,0,0,0,0,0,0,1,0,Sub-Saharan Africa
1,2.0,1,0,0.0,7.0,2000,7.0,0,0,0,0,0,0,0,0,0,0,1,0,Sub-Saharan Africa
2,3.0,1,0,1.0,2.0,2000,3.0,0,0,0,0,0,0,0,0,1,0,0,0,South Asia
3,4.0,1,0,0.0,1.0,2000,1.0,0,0,0,0,1,0,0,0,0,0,0,0,Eastern Europe
4,5.0,1,0,6.0,10.0,2000,16.0,0,0,0,0,0,0,0,0,0,0,1,0,Sub-Saharan Africa

In [27]:
# Assign X (data) and y (target)
X = RegionCasualtiesDF.drop(["region_txt"], axis=1)
y = RegionCasualtiesDF["region_txt"]
print(X.shape, y.shape)

(92700, 7) (92700,)

In [28]:
# Split the data into training and testing
### BEGIN SOLUTION
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)
### END SOLUTION

In [29]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [30]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [31]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.40250269687162893
Testing Data Score: 0.4002157497303128

In [32]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['South Asia' 'Middle East & North Africa' 'South Asia' 'South Asia'
 'South Asia' 'South Asia' 'South Asia' 'South Asia' 'South Asia'
 'Middle East & North Africa']
First 10 Actual labels: ['South Asia', 'Middle East & North Africa', 'South Asia', 'Western Europe', 'Middle East & North Africa', 'South Asia', 'Middle East & North Africa', 'South Asia', 'Middle East & North Africa', 'Middle East & North Africa']

In [33]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

                       Prediction                      Actual
0                      South Asia                  South Asia
1      Middle East & North Africa  Middle East & North Africa
2                      South Asia                  South Asia
3                      South Asia              Western Europe
4                      South Asia  Middle East & North Africa
5                      South Asia                  South Asia
6                      South Asia  Middle East & North Africa
7                      South Asia                  South Asia
8                      South Asia  Middle East & North Africa
9      Middle East & North Africa  Middle East & North Africa
10     Middle East & North Africa  Middle East & North Africa
11     Middle East & North Africa  Middle East & North Africa
12     Middle East & North Africa  Middle East & North Africa
13                     South Asia  Middle East & North Africa
14                     South Asia                  South Asia
15     Middle East & North Africa              Eastern Europe
16     Middle East & North Africa                  South Asia
17     Middle East & North Africa              Southeast Asia
18                     South Asia                  South Asia
19     Middle East & North Africa                  South Asia
20                     South Asia          Sub-Saharan Africa
21     Middle East & North Africa  Middle East & North Africa
22                     South Asia              Southeast Asia
23                     South Asia              Southeast Asia
24                     South Asia  Middle East & North Africa
25                     South Asia                  South Asia
26     Middle East & North Africa                  South Asia
27                     South Asia                  South Asia
28                     South Asia                  South Asia
29                     South Asia                  South Asia
...                           ...                         ...
23145                  South Asia                  South Asia
23146  Middle East & North Africa              Eastern Europe
23147                  South Asia              Western Europe
23148  Middle East & North Africa              Southeast Asia
23149  Middle East & North Africa              Western Europe
23150  Middle East & North Africa  Middle East & North Africa
23151  Middle East & North Africa          Sub-Saharan Africa
23152                  South Asia  Middle East & North Africa
23153  Middle East & North Africa                  South Asia
23154  Middle East & North Africa  Middle East & North Africa
23155                  South Asia          Sub-Saharan Africa
23156  Middle East & North Africa  Middle East & North Africa
23157  Middle East & North Africa          Sub-Saharan Africa
23158  Middle East & North Africa                  South Asia
23159  Middle East & North Africa              Southeast Asia
23160  Middle East & North Africa              Southeast Asia
23161  Middle East & North Africa                  South Asia
23162  Middle East & North Africa          Sub-Saharan Africa
23163                  South Asia              Western Europe
23164                  South Asia                  South Asia
23165                  South Asia                  South Asia
23166                  South Asia  Middle East & North Africa
23167  Middle East & North Africa  Middle East & North Africa
23168                  South Asia               South America
23169  Middle East & North Africa               North America
23170  Middle East & North Africa                  South Asia
23171                  South Asia                  South Asia
23172  Middle East & North Africa  Middle East & North Africa
23173                  South Asia  Middle East & North Africa
23174  Middle East & North Africa  Middle East & North Africa

[23175 rows x 2 columns]